<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="Relativity.Agent" version="17.0.4" targetFramework="net462" />
  <package id="Relativity.API" version="17.0.4" targetFramework="net462" />
  <package id="Relativity.Environment.SDK" version="2.0.2" targetFramework="net462" />
  <package id="Relativity.Kepler" version="2.15.0" targetFramework="net462" />
  <package id="Relativity.Kepler.Client.SDK" version="2.14.4" targetFramework="net462" />
  <package id="Relativity.Logging" version="2019.5.1" targetFramework="net462" />
  <package id="Relativity.ObjectManager.SDK" version="1.1.0" targetFramework="net462" />
  <package id="Relativity.ObjectModel.SDK" version="1.4.2" targetFramework="net462" />
  <package id="Relativity.Processing.SDK" version="12.3.30" targetFramework="net462" />
  <package id="Relativity.Services.DataContracts.SDK" version="13.6.2" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces.SDK" version="13.6.2" targetFramework="net462" />
  <package id="Relativity.Shared.SDK" version="1.7.0" targetFramework="net462" />
</packages>