<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="Relativity.Api" version="10.3.191.8" targetFramework="net462" />
  <package id="Relativity.Kepler" version="2.15.0" targetFramework="net462" />
  <package id="Relativity.Kepler.Client.SDK" version="2.14.4" targetFramework="net462" />
  <package id="Relativity.Logging" version="2019.5.1" targetFramework="net462" />
  <package id="Relativity.ObjectManager" version="12.1.171.20" targetFramework="net462" />
  <package id="Relativity.ObjectManager.SDK" version="1.1.0" targetFramework="net462" />
  <package id="Relativity.Processing.SDK" version="12.5.41" targetFramework="net462" />
  <package id="Relativity.Services.DataContracts.SDK" version="13.5.0" targetFramework="net462" />
  <package id="Relativity.Shared.SDK" version="1.5.0" targetFramework="net462" />
</packages>